/*
	MAIN
*/

.row-grid {
	margin:0px;
	padding-top: 7px;
	width:100%;
}
.col-grid-3 {
	display:inline-block; 
	margin:0px; 
	width:32%;
}

.ui-li-file-item:active {
	background-color: lightgrey;
} 
.ui-li-del-file-item {
	
}

.icon-active {
   	background-color: white;
   	cursor: pointer;
}

.icon-active:active {
   	background-color: #5dd;
   	cursor: pointer;
}

.icon-disabled {
	background-color: #a8a8a8;
}
.btn-text-disabled {
	color: #a8a8a8 !important;
}

.icon-home {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../lib/tau/mobile/theme/default/images/controls/00_icon_favorite_bg_72x72.png');
}
.icon-add {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/add-button.png');
}
.icon-del {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../lib/tau/mobile/theme/default/images/page/00_icon_delete.png');
	
}
.icon-del-black {
  	display: inline-block;
  	width: 24px;
  	height: 24px;
  	background-color: black;
  	-webkit-mask-size: 24px 24px;
  	-webkit-mask-image: url('../lib/tau/mobile/theme/default/images/page/00_icon_delete.png');
	
}

.icon-back {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/go-back-left-arrow.png');
}
.icon-save {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../lib/tau/mobile/theme/default/images/controls/core_check_icon.png');
}

.icon-camera {
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	background-color: white;
  	-webkit-mask-size: 32px 32px;
  	-webkit-mask-image: url('../images/camera.png');
}

.ui-footer {
  	height: 65px;
}
.ui-footer-btn-text {
	color: white;
	font-size: 14px; 
}




/*
	CONTENTS
*/

.ui-content-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 32%;
}

.ui-content-item-list {
	
}

.ui-content-checkbox-item {
	
	position: absolute;
	top: 2px;
	right: 2px;
	
}


/*
	PLAYLIST
*/
.ui-playlist-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 32%;
}

.ui-playlist-item-list {
	
}

.ui-playlist-checkbox-item {
	
	position: absolute;
	top: 2px;
	right: 2px;
	
}



